form{
    padding-left: 10%;
    padding-top: 20px;
}

input{
    margin-top: 20px;
    margin-left: 20px;
}
select{
    margin-top: 20px;
    margin-left: 20px;
}
#display{
    position: absolute;
    right: 200px;
    top: 100px;
}